*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

body{
    width: 100%;
    height: 100vh; 
}

header{
    display: flex;
    width: inherit;
    height: 150px;
    margin: 0 auto;
    text-align: center;
    background-color: green;
}

.cdm-seal{
    margin: 15px 0 0 40px;
    width: 120px;
    height: 120px;
}

header > h1{
    margin: 40px auto;
    text-align: center;
    font-size: 50px;
    color: white;
    text-shadow: 4px 4px black;
}

.whitebar{
    display: block;
    width: inherit;
    min-width: 1300px;
    height: 40px;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    text-align: center;
    background-color: white;
}

.paradashboard{
    margin: 10px 0 0;
    font-weight: bolder;
    font-size: 25px;
}

.container{
    display: flex;
    width: 100%;
    height: fit-content;
    padding-top: 30px;
    margin: 0 auto 20px;  
    background-color: #FFFFE8;
}

.product-section{
    display: block;
    height: fit-content;
    margin: 0 auto;
    width: 70%;
}

.product-section2{
    align-items: center;
    margin: 7px auto;
    display: flex;
    flex-wrap: wrap;
}

.products{
    display: block;
    margin: 15px auto;
    width: 270px;
    border-radius:5px;
    background-color: white;
    border: 1px solid black;
}

.uniform{
    display: block;
    margin: 0 auto;
}

.uniform > img{
    display: block;
    margin: 10px auto;
    width: 160px;
    height: 160px;
    border-radius: 3px;
    background-color: rgb(216, 214, 214);
}

.description{
    margin: 20px auto 10px;
    width: 250px;
    height: 260px;
    text-align: center;
}

.productname{
    display: block;
    margin: 0 auto;
    padding: 5px 0 0;
    width: 200px;
    height: 25px;
    border-radius: 5px;
    background-color: yellowgreen;
}

.size{
    margin: 10px 0 0;
}

.sizes button{
    cursor: pointer;
    font-weight: 900;
    margin: 5px 1px 0;
    width: 35px;
    height: 25px;
    background-color: white;
    border-radius: 5px;
    border: 2px solid yellowgreen;
}

.sizes button:hover {
    background-color: green;
    border: 2px solid green;
    color: white;
}

.Quantity{
    display: block;
    margin: 20px auto 10px;
}

::placeholder{
    font-weight: bold;
    color: black;
}

input[type="number"]{
    text-indent: 25px;
    font-weight: 900;
    width: 60px;
    height: 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(216, 214, 214);
    outline: none;
}

.price-display{
    display: block;
    margin: 0 auto;
    border: none;
    padding-top: 3px;
    border-radius: 5px;
    background-color: rgb(216, 214, 214);
    height: 20px;
    width: 100px;
    font-weight: bold;
}

.add-cart{
    cursor: pointer;
    margin: 15px 0 0;
    width: 120px;
    height: 30px;
    border: 2px solid white;
    font-weight: 900;
    border-radius: 20px;
    background-color: yellowgreen;
    transition: transform 0.3s ease;
}

.add-cart:hover, .logout:hover, .buy-button:hover{
    background-color:green;
    color: white;
    transform: scale(1.1);
}

.adjust{
    margin: 80px auto 10px;
}

.total-item-section{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    margin: 0 10px;
    height: 500px;
    width: 30%;
    border-radius: 5px;
}

.subsection1{
    display: block;
    border: 1px solid black;
    border-radius: 5px;
    width: 90%;
    margin: 20px auto;
    height: 100px;
    background-color: white;
}

.subsection1 > :first-child{
    margin: 10px 0 0 0;
}

.infolabel{
    margin: 5px 0 0;
    display: block;
    text-align: center;
    font-weight: bolder;
    font-size: 30px;

}

.inlinelabel{
    display: inline-block;
    margin: 3px auto 1px;
    padding: 0 10px;
    width: 90%;
}

.logout{
    cursor: pointer;
    display: block;
    margin: 20px auto;
    width: 80px;
    height: 20px;
    border-radius: 20px;
    border: none;
    font-weight: bolder;
    background-color: yellowgreen;
    text-decoration: none;
    font-weight: bolder;
    text-align: center;
    color: black;
    transition: transform 0.3s ease;
}

.subsection2{
    border-radius: 5px;
    border: 1px solid black;
    margin: 20px auto;
    width: 90%;
    height: 340px;
    background-color: white;
}

#cart{
    text-align: center;
    margin: 20px auto 10px;
}

.datalabel{
    background-color: yellowgreen;
    font-weight: bolder;
}

table{
    display: block;
    margin: 0 auto;
    width: 320px;
    height: 200px;
}

.table-label, .polo, .blouse, .slacks, .PEshirt, .PEpants, .IDlace{
    margin: 0 auto;
    border: 1px solid red;
    width: 300px;
}

#clear1,#clear2,#clear3,#clear4,#clear5,#clear6 {
    background-color: white;
}

td{
    width: 100px;
    height: 25px;
    margin: 0 auto;
    border-radius: 3px;
    background-color: rgb(216, 214, 214);
    text-align: center;
}

td > button{
    cursor: pointer;
    width: 30px;
    border: 1px solid black;
    border-radius: 5px;
}

.tablelabels{
    background-color: yellow;
    font-weight: bolder;
}

.clear{
    width: 50px;
}

.clearbtn{
    width: 50px;
    background-color: white;
}

.hidden{
    display: none;
}

.buy-button{
    cursor: pointer;
    display: block;
    margin: 30px auto 0;
    width: 70px;
    height: 25px;
    border: none;
    font-weight: 900;
    border-radius: 20px;
    background-color: yellowgreen;
    transition: transform 0.3s ease;
}

footer{
    width: 100%;
    height: 100px;
    background-color: green;
    text-align: center;
}